.work {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(5, 209, 209);
    color: #fff;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
}

.work-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: #fff;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
}

.work-container {
    width: 40%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    flex-shrink: 1;
}

.image {
    max-width: 100%;
    height: auto;
}

.work-description {
    width: 40%;
    font-size: 1.25rem;
    flex-shrink: 1;
}

.desc-btn {
    display: flex;
    flex-wrap: wrap;
}

.desc-btn h6 {
    font-size: 0.5em;
    margin: 0.5rem;
    padding: 0.5rem;
    background: rgba(111, 111, 111, 0.2);
    border: 1px solid grey;
    border-radius: 20px;
}

.desc-link {
    flex-shrink: 1;
    display: inline;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 50px;
    width: 15rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.desc-link:hover {
    background: #fff;
    color: black;
}

@media (max-width:760px) {
    .work {
        flex-direction: column;
    }

    .work-container {
        width: 75%;
        margin: auto;
    }

    .work-description {
        width: 95%;
        margin: auto;
    }
}